In [1]:
import pandas as pd

In [2]:
dc = pd.read_csv('../data/data_description.csv')
dc

                   column                     description
0                   index  Unique Identifier for each row
1   trans_date_trans_time            Transaction DateTime
2                  cc_num              Number of Customer
3                merchant                   Merchant Name
4                category            Category of Merchant
5                     amt           Amount of Transaction
6                   first                      First Name
7                    last                       Last Name
8                  gender                          Gender
9                  street                  Street Address
10                   city                            City
11                  state                           State
12                    zip                             Zip
13                    lat               Latitude Location
14                   long              Longitude Location
15               city_pop                 City Population
16                    job                             Job
17                    dob                   Date of Birth
18              trans_num              Transaction Number
19              unix_time        UNIX Time of transaction
20              merch_lat   Latitude Location of Merchant
21             merch_long  Longitude Location of Merchant
22               is_fraud                      Fraud Flag

In [3]:
df = pd.read_parquet('../data/data.parquet')
print(df.shape)
df.head(2)

(1852394, 22)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0

In [4]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

In [5]:

train = df[df['trans_date_trans_time']<=pd.to_datetime('2020-06-21 12:13:37')]
test  = df[df['trans_date_trans_time']>=pd.to_datetime('2020-06-21 12:14:25')]

print('Shape of Dataset =', train.shape, test.shape)
print('Mean Fraud Rate  =', train['is_fraud'].mean(), test['is_fraud'].mean())

Shape of Dataset = (1296675, 22) (555719, 22)
Mean Fraud Rate  = 0.005788651743883394 0.0038598644278853163

In [6]:
train.to_parquet('../data/train.parquet')
test.to_parquet('../data/test.parquet')